<table>
    <tr>
        <td>Номер п/п</td>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Номер квартиры</td>
        <td>Номер телефона</td>
        <td>Ник в телеге</td>
        <td>Уникальный ник в телеге</td>
        <td>Комментарий</td>
    </tr>
</table>