<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Данные ЖК Москвичка">
    <meta property="og:description" content="Форма сбора данных жителей ЖК Москвичка, 2 корпус.">
    <meta property="og:url" content="https://moskvichka.guildenstern.ru/images/15904924503.jpg">
    <meta property="og:image" content="https://moskvichka.guildenstern.ru/images/15904924503.jpg">
    <meta property="og:locale" content="ru_RU">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./style/style.min.css">
    <title>{{title}}</title>
</head>